body {
  min-height: 100vh;
  display: flex;
  align-items: center;
}



path {
  fill: red;
}

.wrapper {
  overflow: hidden;
  margin: 0 auto;
  padding: 1%;
  width: 55vw;
    height: 36vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: .2em solid red;
  border-radius: 3em;
  background-color: #ff00001f;



}

.wrapper__top {
  display: flex;
  height: 75%;
  width: 500%;
}

input {
  width: 0;
}

.block__item {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* add transition */
}

.item {
  height: 100%;
}


.wrapper__bottom {
  display: flex;
  flex-grow: 1;
  align-items: flex-end;
  justify-content: space-between;
}


.block__text {
  height: 4em;
  overflow: hidden;
}

.text {
  display: inline-block;
  width: 15em;
  margin-right: 21em;
  line-height: 2em;
  margin-left: 1em;
  /* Typography */
  font-size: 2em;
  color: #4f4f4f;

}


.block__label {
  display: flex;
  gap: 0.5em;
}

.block-btn {
  border-radius: 100%;
  cursor: pointer;
  padding: 0.8em;
  opacity: 0.4;
}

.block-btn:hover {
  opacity: 1;
}



/* slide img */
.wrapper:has(#images-1:checked) .item-1 {
  margin-left: 0;
}

.wrapper:has(#images-2:checked) .item-1 {
  margin-left: -20%;
}

.wrapper:has(#images-3:checked) .item-1 {
  margin-left: -40%;
}

.wrapper:has(#images-4:checked) .item-1 {
  margin-left: -60%;
}

.wrapper:has(#images-5:checked) .item-1 {
  margin-left: -80%;
}


/* active state btn */

.wrapper:has(#images-1:checked) [data-heart="one"] {
  opacity: 1;
}

.wrapper:has(#images-2:checked) [data-heart="two"] {
  opacity: 1;
}

.wrapper:has(#images-3:checked) [data-heart="three"] {
  opacity: 1;
}

.wrapper:has(#images-4:checked) [data-heart="four"] {
  opacity: 1;
}

.wrapper:has(#images-5:checked) [data-heart="five"] {
  opacity: 1;
}



/* move text */

/* 1 text */


/* 2 text */
.wrapper:has(#images-2:checked) .text-1 {
  display: none;
}

/* 3 text */
.wrapper:has(#images-3:checked) .text-1,
.wrapper:has(#images-3:checked) .text-2 {
  display: none;
}

/* 4 text */
.wrapper:has(#images-4:checked) .text-1,
.wrapper:has(#images-4:checked) .text-2,
.wrapper:has(#images-4:checked) .text-3 {
  display: none;
}

/* 5 text */
.wrapper:has(#images-5:checked) .text-1,
.wrapper:has(#images-5:checked) .text-2,
.wrapper:has(#images-5:checked) .text-3,
.wrapper:has(#images-5:checked) .text-4 {
  display: none;
}

